$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$salem-black: rgba(69, 72, 77, 1);
$scalet-past: rgba(164, 60, 61, 1);
$bright-mango: rgba(255, 135, 48, 1);
$drift-wood: rgba(165, 122, 69, 1);
$ghost-town: rgba(186, 141, 84, 1);
$lime-twist: rgba(196, 213, 37, 1);
$pine-needle: rgba(58, 121, 104, 1);
$putnum-plum: rgba(140, 67, 97, 1);

$font-main: 'Open Sans', sans-serif;
$font-narrow: 'Open Sans Condensed', sans-serif;
